footer {
    background:#303030;
    color: #959595;
    border-top: 0.3rem solid #7b3a3d;
}
.footer-low-border {
    border-top: 0.1rem solid #959595;
    border-bottom: 0.1rem solid #959595;
}
a, a:hover, a:focus, a:active {
    color: #959595;
}
.responsive-container {
    background: url(../images/rawpixel-com-191102-unsplash.png);
    height: 33rem;
}
.responsive-title {
    font-size: -webkit-xxx-large;
}
.carousel-caption {
    bottom: 30%;
}
.back-black {
    background: black;
}
.header {
    background: #0a246a96;
    z-index: 500;
}
.title-block {
    opacity: 0;
    transition: 3s;
}
.title-block-visible {
    opacity: 1;
}
